* {
    margin: 0;
    padding: 0;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    background-color: white;
    width: 100%;
    height: 8.5vh;
    position: sticky;
    border-bottom: .1vw solid;
    
    top: 0;
    left: 0;
}

.navcontent {
    display: flex;
}

.leftnav {
    margin-right: 20vw;
}

#leftlogo {
    width: 7.5vw;
    height: 8vh;
}

.middlenav {
    display: flex;
    align-self: center;
    text-align: center;
    gap: 1.75vw;
    margin-right: 20vw;
    font-size: 1.05rem;
}

.lastnav {
    align-self: center;
    font-size: 1.05rem;
    margin-right: 5.5vw;
}

.mainimg {
    width: 100%;
}

.mainimg>img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    filter: contrast(80%);
    filter: brightness(50%);
}

.textsonimg {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 65vw;
    color: white;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.reliable {
    text-align: start;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.looking {
    text-align: center;
    width: fit-content;
    font-size: 1.35rem;
}

.knowmore {
    color: white;
    font-weight: 600;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
}

.mainbigboxonimg {
    display: flex;
    flex-direction: column;
}

.topmainbox {
    position: absolute;
    top: 50%;
    align-items: center;
    left: 15%;
    background-color: white;
    border-top-left-radius: .75vw;
    border-top-right-radius: .75vw;
    padding-left: 1.25vw;
    padding-right: 1.25vw;
    padding-top: 1.5vw;
    padding-bottom: 2.25vw;
}

.ahmendabadbox {
    display: flex;
    border-bottom: .1vw solid;
    border-width: 15px;
    width: 10vw;
    height: 5vh;
    gap: .5vw;
    text-align: center;
    align-self: center;
    ;
}

.bottommainbox {
    display: flex;
    position: absolute;
    top: 57.5%;
    left: 15%;
    background-color: white;
    border-bottom-left-radius: .75vw;
    border-bottom-right-radius: .75vw;
    border-top-right-radius: .75vw;
    padding: 2.5vw 1.25vw 3vw 1.25vw;
    height: 10vh;
    box-shadow: 1px .1px 3.5px;
}

.pickup {
    gap: .5vw;
    display: flex;
    flex-direction: column;
    text-align: start;
    width: fit-content;
    justify-content: center;
    height: 1.5vh;
    padding: 1.5vw;
    font-size: 1.1rem;
    /* margin-bottom: 3vw; */
    border-right: .1vw solid grey;
}

.whatu {
    gap: .5vw;
    display: flex;
    flex-direction: column;
    text-align: start;
    width: fit-content;
    justify-content: center;
    position: relative;
    height: 1.5vh;
    padding: 1.5vw;
    font-size: 1rem;
}

.enterpick {
    font-size: .75rem;
    color: grey;
}

.choose {
    position: absolute;
    top: 100%;
    width: 10vw;
    box-shadow: 2px 2px 10px;
    padding: 1vw;
    border-radius: .5vw;
    display: none;
}

.whatu:hover {
    .choose {
        display: block;
    }
}

a {
    text-decoration: none;
    color: black;
}

.getfare {
    color: white;
    border-radius: .75vw;
    margin-top: .5vw;
    display: flex;
    justify-content: space-around;
    padding: .75vw;
    width: 15vw;
    height: 4vh;
    align-items: center;
    background-color: blue;
}

.othercontent {
    margin-top: 7vw;
    margin-bottom: 1vw;
    text-align: center;
    background-color: #FAFAFA;
    width: 100vw;
}

.booktruck {
    background-color: white;
    font-size: 1.5rem;
}
.truckweight {
    display: flex;
    justify-content: center;
    background-color: white;
    text-align: center;
    margin-bottom: 1vw;
    /* position: absolute; */
    /* left: 50%; */
    /* bottom: 8%; */
    /* transform: translateX(-50%); */
}

.lightertruck {
    /* border: 1px solid; */
    padding: 1.5vw;
    border-bottom: .22vw solid;
    margin-bottom: 1vw;
}

.heavytruck {
    padding: 1.5vw;
    margin-bottom: 1vw;
    border-bottom: .22vw solid rgba(128, 128, 128, 0.219);
}

.truckimages {
    display: flex;
    justify-content: center;
    background-color: white;
    /* position: absolute; */
    /* left: 50%; */
    gap: 1vw;
    /* bottom: -33%; */
    /* transform: translateX(-50%); */
}

.lighttruckbox {
    margin-top: 1vw;
    background-color: white;
    padding: 1.5vw;
    text-align: center;
    border-radius: .75vw;
    border: .1vw solid;
}

.lighttruckimg>img {
    width: 12vw;
    margin-bottom: .75vw;
}

.weight {
    display: flex;
    justify-self: center;
    width: fit-content;
    padding: .5vw;
    border-radius: .5vw;
    margin-bottom: 1vw;
    margin-top: .25vw;
    align-items: center;
    background-color: #EBF4FF;
}

.typeoftruck {
    font-size: 1.25rem;
    margin-bottom: .3vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.knoww {
    margin-top: .5vw;
    display: flex;
    justify-self: center;
    color: blue;
    border-bottom: .1vw dotted blue;
    width: fit-content;
}

.othercontent2 {
    margin-top: 6.5vw;
    /* background-color: #FAFAFA; */
    width: 100vw;
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* bottom: -35vw; */
    text-align: center;
}

.popular {
    margin-bottom: 1vw;
    font-size: 1.65rem;
}

.maingrey {
    display: flex;
    gap: 1.5vw;
    flex-direction: column;
    justify-self: center;
    background-color: #EEF2FF;
    border-radius: .5vw;
    padding: 2vw;
    width: 70vw;
}

.rowinmaingrey {
    display: flex;
    gap: 4.5vw;
}

.boxinmaingrey {
    display: flex;
    /* background-color: EEF2FF; */
    flex-direction: column;
    background-color: white;
    padding: 1vw;
    text-align: start;
    word-spacing: .1vw;
    border-radius: .5vw;
    padding: 1.5vw;
    width: 17.5vw;
    /* border: 1px solid; */
}

.areaserve {
    margin-top: 7.5vw;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1vw;
}

.areaarea {
    display: flex;
    gap: 1vw;
    justify-content: center;
}

.areas {
    display: flex;
    gap: .5vw;
    align-items: center;
}

.circle {
    width: .5vw;
    height: 1vh;
    border-radius: 50%;
    background-color: #D7E1FF;
}

.gradibox {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    justify-self: center;
    background-color: #CCD9FF;
    text-align: center;
    width: 65vw;
    border-radius: .75vw;
    padding: 2vw;
}

.rowfirstingrad {
    display: flex;
    flex-direction: column;
}

.rowsecondingrad {
    display: flex;
    justify-content: space-around;
}

.imgofqr>img {
    width: 8.25vw;
    height: 15vh;
}

.scanqrtext {
    margin-top: 1vw;
    color: rgba(0, 0, 0, 0.736);
}

.thinklogistic {
    font-size: 1.5rem;
    margin-bottom: 1vw;
}

.portermobile {
    margin-bottom: 1vw;
    color: rgba(0, 0, 0, 0.736);
}

.otherservicesss {
    margin-top: 6.25vw;
    text-align: center;
    font-size: 1.25rem;
}

.rowofotherservices {
    display: flex;
    gap: 2.75vw;
    margin-top: 1.5vw;
    justify-content: center;
}

.serviceimg>img {
    width: 8vw;
    height: 15vh;
}

.text {
    font-weight: bolder;
}

.elementofservice {
    border-radius: .75vw;
    width: fit-content;
    padding: .75vw 2.5vw .75vw 2.5vw;
    text-align: center;
    background-color: #EEF2FF;
}

.rightarrow_otherser {
    display: flex;
    justify-self: center;
    margin-top: 1vw;
    /* align-content: center; */
    background-color: blue;
    width: fit-content;
    padding: .15vw .75vw .15vw .75vw;
    border-radius: .75vw;
}

.othertontext {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-self: center;
    width: 65vw;
    margin-top: 7.5vw;
}

.ton {
    font-size: 1.4rem;
    font-weight: bold;
}

.transport {
    font-size: .9rem;
    opacity: .9;
}

.othergoods {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-self: center;
    width: 65vw;
    margin-top: 7.5vw;
}

.chooseser {
    margin-top: 1vw;
    margin-bottom: .5vw;
    font-size: 1.05rem;
}

.areaother {
    display: flex;
    gap: 1vw;
    opacity: .9;
}








.questionfreq {
    margin-top: 5vw;
    text-align: center;
    align-self: center;
}

.freq_ques {
    font-size: 1.5rem;
}

.freq_questext {
    margin-top: .75vw;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.485);
}

.q1 {
    display: flex;
    text-align: center;
    /* gap: 15vw; */
    /* margin: auto; */
    align-self: center;
    align-items: center;
    /* align-content: center; */
}

.question {
    font-size: 1.25rem;
}

.questionstart {
    display: flex;
    padding-top: 3vw;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid; */
    align-self: center;
    width: 80%;
    margin: auto;
    text-align: center;
}

hr {
    text-align: center;
    align-self: center;
    width: 62vw;
}

summary {
    cursor: pointer;
    list-style: none;
    align-items: center;
    padding: 25px;
}

summary::marker {
    display: none;
}

details {
    align-self: center;
    width: 63vw;
    text-align: start;
}

details>p {
    display: flex;
    justify-self: center;
    text-align: start;
    width: 60vw;
    color: rgba(51, 51, 51, .64);
    align-items: center;
}


.fotter {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-top: 5vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.leftlogotop {
    width: 17vw;
    padding-bottom: 1.75vw;
    height: 4.5vh;
    margin-top: 3vw;
    border-bottom: .1vw dotted white;
}

.leftlogotop>img {
    align-items: flex-start;
    width: 10vw;
    height: 4vh;
}

.follow {
    display: flex;
    gap: 1vw;
    width: 17vw;
    border-bottom: .1vw dotted white;
    padding-bottom: 1.75vw;
}

.topfotter {
    display: flex;
    gap: 10vw;
}

.followussocial {
    color: white;
}

.followtext {
    font-size: 1.25rem;
    padding-top: 1.75vw;
    padding-bottom: 1.25vw;
}

.rightrowelement {
    display: flex;
    flex-direction: column;
    /* width: 10vw; */
}

.greyforsocial {
    background-color: grey;
    width: fit-content;
    height: fit-content;
    padding: .5vw;
    border-radius: 50%;
}

.greyforsocial>img {
    width: 1.25vw;
    height: 2.5vh;
}

.download {
    display: flex;
    gap: .75vw;
    width: 17vw;
    color: white;
    align-items: center;
    padding-top: 1.75vw;
    padding-bottom: 1.75vw;
    border-bottom: .1vw dotted white;
}

.scandown {
    margin-top: .4vw;
    font-size: .8rem;
}

.leftdown>img {
    width: 2.75vw;
    height: 5.5vh;
}

.qr {
    padding-top: 1.75vw;
    padding-bottom: 1.75vw;
}

.qr>img {
    width: 12.5vw;
}

.righttop {
    display: flex;
    flex-direction: column;
    margin: 3vw;
    color: white;
}

.foothr {
    width: 100%;
}

ul {
    list-style-type: none;
}

li {
    padding-bottom: 1.2vw;
    font-size: .85rem;
    color: rgba(255, 255, 255, 0.707);
}

.headrighttop {
    font-weight: 600;
    font-size: 1.5rem;
    /* width: 7.5vw; */
    margin-bottom: 1.5vw;
}

.rightrow1 {
    display: flex;
    gap: 10vw;
}

.rightrow2 {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.75vw;
}

.citiesrow {
    display: flex;
    margin-top: 1vw;
    gap: 8.75vw;
}

.bottomfotter {
    margin-top: 2.5vw;
    color: white;
}

.office {
    font-size: 1.3rem;
    margin-bottom: 1vw;
}

.copyright {
    font-size: .8rem;
    opacity: .7;
}

.otherinfo {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    gap: .5vw;
    font-size: .8rem;
    opacity: .7;
}
.copyright {
    font-size: .8rem;
}
.phone{
    padding-bottom: 3vw;
}